#prima-navbar {
  margin: auto;
}

p#primo-piano {
  /* padding-top: 2rem;
  padding-left: 4.8rem; */
  font-size: 1.5rem;
  text-align: center !important;
  margin-bottom: 2rem !important;
}
a {
  color: #9863a9 !important;
}

a:hover {
  color: #824f93 !important;
}

.destra {
  margin-left:1.5rem;
}

/* Stili navbar */

#logo img.resized {
  width: 200px;
  height: auto;
}


.navbar {
  margin: 2rem 3rem 2rem 3rem;
  background-color: #FFFFFF;
}

.navbar-nav {
  padding-right: auto;
}

#accedi {
  margin-left: 5rem !important;
}

/* Container search bar */
.search-bar {
  width: 80%;
}

/* Search bar itself */
.form-control {
  width: 80% !important;
  margin-left: 4.5rem;
  margin-right: 1rem;
}

.fa-map-marker {
  color: #9863a9;
  margin-right: 0.6rem;
}

.second {
  margin-left: 5rem;
  text-align: right;
}

.terzo{
  margin: 0rem 6rem;
}

.icon-eye#eye-prodotto {
  /* padding-left: 15px; */
  margin-right: 5px !important;
}

.linea {
  border-top: 1px solid black;
}

#categorie {
  margin: 0;
}

/* Card Container */
.container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.card {
  margin-bottom: 1rem !important;
  margin: auto;
}

/* #sottocategorie {
  width: 18% !important;
} */
.container-filtri-annunci {
  display: grid;
  grid-template-columns: 28% 72%;
  /* grid-template-rows: 35% 45% auto; */
  grid-template-rows: 20rem 27rem auto;
}

#annunci {
  margin: 2rem 3rem 2rem 3rem;
}

/* Profilo */
/* .container-profilo{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% auto;
} */
.immagine-profilo {
  width: auto;
  display: flex;
    justify-content: center;
    align-items: center;
}

.info-profilo {
  padding-left: 6.6rem !important;
  padding-top: 2.5rem !important;
}

.valutazione-profilo {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.eliminaAccount {
  float: right;
  margin: 1.5rem;
}

/* Icons */
.fa-star {
  color: #f1c40f;
}

/* Registrazione */
.container-registrazione {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-bottom: 2rem;
}

.icona {
  cursor: pointer;
  margin-right: 6rem;
}

input {
  margin-bottom: 0.6rem !important;
}

#btn {
  width: 100% !important;

}

.btn {
  background-color: #9863a9 !important;
  border-color: #9863a9 !important;
  color: white !important;
}

.btn:hover {
  background-color: #824f93 !important;
}

#piu {
  margin-right: 0.5rem !important;
}

.errore{
  color: red ;
}

/* Creare Annuncio */

.container-creare-annuncio {
  margin-top: 2rem !important;
}

.form-size {
  width: 30rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.form-control {
  width: 100% !important;
  margin-left: 0rem !important;
  margin-bottom: 1rem !important;

}

/* Login Popup */

.form-popup {
  display: none;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid black;
  border-radius: 10px;
  z-index: 9;
  width: 20%;
  height: 55%;
  text-align: center;
}

/* popup elimina account */

.form-popup2 {
  display: none;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid black;
  border-radius: 10px;
  z-index: 9;
  width: 30%;
  height: 20%;
  text-align: center;
}

/* Login Popup Errore */

.form-popup-errore {

}

/* Search bar style */

* {
  box-sizing: border-box;
}

/* Metodo di Pagamento */

 .paga{
  height: 0px;
  visibility: hidden;
}

#cartacredito{
 height: 0px;
 visibility: hidden;
}

#A:checked ~ .paga{
  height: auto;
  visibility: visible;
}

#B:checked ~ #cartacredito{
  height: auto;
  visibility: visible;
}

.labelpagamento{
    margin-right:0.5rem;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 2px solid #9863a9;
}
.inputpaga{
    display: none;
}
.inputpaga:checked + .labelpagamento{
    background: #d99eed;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #9863a9;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #824f93;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.stessa-riga {
  display: inline;
}

/* creaAnnuncio nuovo-usato */

#tempogaranzia{
  height: 0px;
  visibility: hidden;
}
#garanzia{
 height: 0px;
 visibility: hidden;
}
#tempousura{
  height: 0px;
  visibility: hidden;
}
#statousura{
  height: 0px;
  visibility: hidden;
}
/* #garanzia: checked ~ .tempogaranzia {
  height: auto;
  visibility: visible;
}  */

/* Valutazioni popup */

@media screen and (max-width: 800px) {
  #sottocategorie {
    background-color: white !important;

  }
}
