#prima_navbar {
  margin: 3.2rem;
  background-color: #FFFFFF;
}

p#primo-piano {
  /* padding-top: 2rem;
  padding-left: 4.8rem; */
  font-size: 1.5rem;
  text-align: center !important;
}

p {
  margin-bottom: 2rem !important;
}

h6#destra {
  margin-left:1.5rem;
}

.navbar {
  margin: 2rem 3rem 2rem 3rem;
  background-color: #FFFFFF;
}

/* Container search bar */
.search-bar {
  width: 90%;
}

/* Search bar itself */
.form-control {
  width: 80% !important;
  margin-left: 4.5rem;
  margin-right: 1rem;
}

.second {
  margin-left: 9.7rem;
}

.icon-eye {
  padding-left: 15px;
}

.linea {
  border-top: 1px solid black;
}

#categorie {
  margin: 0;
}

/* Card Container */
.container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.card {
  margin-bottom: 1rem !important;
  margin: auto;
}

/* #sottocategorie {
  width: 18% !important;
} */
.container-filtri-annunci {
  display: grid;
  grid-template-columns: 28% 72%;
  /* grid-template-rows: 35% 45% auto; */
  grid-template-rows: 20rem 27rem auto;
}

#annunci {
  margin: 2rem 3rem 2rem 3rem;
}

/* Profilo */
/* .container-profilo{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% auto;
} */
.immagine-profilo {
  width: auto;
}

.info-profilo {
  padding-left: 6.6rem !important;
  padding-top: 2.5rem !important;
}

.valutazione-profilo {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

/* Icons */
.fa-star {
  color: #f1c40f;
}

/* Registrazione */
.container-registrazione {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

input {
  margin-bottom: 0.6rem !important;
}

.btn {
  width: 100% !important;
}
/* .tabella-registrazione {
  padding: 10px;
  border: 1px solid black;
} */
