#prima_navbar{
  margin: 3rem;
  background-color: #FFFFFF;
}

p#primo-piano {
  padding-top: 2rem;
  padding-left: 4.8rem;
  font-size: 1.5rem;
}

.navbar {
  margin: 2rem 3rem 2rem 3rem;
  background-color: #FFFFFF;
}

/* Container search bar */
.search-bar {
  width: 90%;
}

/* Search bar itself */
.form-control {
  width: 80% !important;
  margin-left: 4.5rem;
  margin-right: 1rem;
}

.second {
  margin-left: 9.7rem;
}

.icon-eye {
  padding-left: 15px;
}

.linea {
  border-top: 1px solid black;
}

#categorie {
  margin: 0;
}

/* Card Container */
.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  margin-bottom: 1rem !important;
  margin:auto;
}

#sottocategorie {
  width: 15% !important;
}
